.feedback {
  width: 50%;
  text-align: left;

  background-color: $color-sapphire;

  box-sizing: border-box;
  padding-top: 57px;

  position: relative;

  @media (max-width: $vp-tablet) {
    width: 100%;
    padding: 65px 88px;
    padding-bottom: 68px;
  }

  @media (max-width: $vp-mobile) {
    padding: 0;
    padding-top: 66px;
    padding-bottom: 68px;
  }

  &::before {
    position: absolute;
    content: "";

    width: 50vw;
    height: 100%;

    top: 0;
    left: -50%;
    transform: translateX(-50%);
    z-index: -100;

    background-color: $color-sapphire;

    @media (max-width: $vp-tablet) {
      width: 100vw;
      left: 50%;
    }
  }
}

.feedback h4 {
  margin: 0;
  padding: 0;

  font-family: "Bebas Neue", "Arial", sans-serif;
  font-weight: 700;
  font-size: 49px;
  line-height: 64px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $color-default-white;

  @media (max-width: $vp-tablet) {
    font-size: 42px;
    line-height: 42px;
  }

  @media (max-width: $vp-mobile) {
    font-size: 32px;
    line-height: 32px;
  }
}

.feedback form {
  margin-top: 40px;

  box-sizing: border-box;
  padding-right: 144px;

  @media (max-width: $vp-tablet) {
    padding: 0;
    margin-top: 41px;
  }

  @media (max-width: $vp-mobile) {
    margin-top: 42px;
  }
}

.feedback fieldset {
  margin: 0;
  padding: 0;
  border: none;

  box-sizing: border-box;
  padding-right: 21px;

  @media (max-width: $vp-tablet) {
    padding-right: 0;
  }
}

.feedback ul {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  @media (max-width: $vp-mobile) {
    flex-direction: column;
  }
}

.feedback li {
  width: 47.4%;

  @media (max-width: $vp-mobile) {
    width: 98%;
    margin-top: 36px;
  }

  &:first-child {
    @media (max-width: $vp-mobile) {
      margin-top: 0;
    }
  }
}

.feedback input {
  font-size: 14px;
  line-height: 16px;

  color: $color-default-white;

  background: none;
  border: none;
  border-bottom: 1px solid $color-light-slate-grey;
  border-radius: 0;

  padding-bottom: 5px;

  width: 94.5%;

  @media (max-width: $vp-tablet) {
    width: 84.7%;
  }

  @media (max-width: $vp-mobile) {
    width: 100%;
  }

  &::placeholder {
    color: $color-default-white;
  }
}

.feedback button {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: $color-default-white;

  background: none;

  border: 3px solid $color-default-white;

  user-select: none;

  margin-top: 28px;

  width: 94.3%;

  padding: 17px;

  @media (max-width: $vp-mobile) {
    width: 100%;

    margin-top: 38px;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}
