.page {
  height: 100%;
}

.page__body {
  max-width: 1366px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 103px;
  min-height: 100%;
  overflow-x: hidden;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: normal;

  color: $color-sapphire;
  background-color: $color-default-white;
  text-align: center;

  display: grid;
  grid-template-rows: min-content 1fr min-content;

  @media (max-width: $vp-tablet) {
    padding: 0 45px;
  }

  @media (max-width: $vp-mobile) {
    padding: 0 15px;
  }
}
