.page-header {
  box-sizing: border-box;
  padding: 25px 0;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  position: relative;

  &::before {
    position: absolute;
    content: "";

    width: 100vw;
    height: 100%;

    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -100;

    background: $dark-cerulean-to-bottom-left-desktop;

    @media (max-width: $vp-tablet) {
      background: $dark-cerulean-to-bottom-left-tablet;
    }

    @media (max-width: $vp-mobile) {
      background: $dark-cerulean-to-bottom-left-mobile;
    }
  }

  @media (max-width: $vp-tablet) {
    padding: 35px 0;
  }

  @media (max-width: $vp-mobile) {
    padding: 15px 0;
  }
}

.page-header__logo {
  width: 89px;
  height: 20px;

  margin-top: 5px;

  @media (max-width: $vp-tablet) {
    width: 82px;
    height: 17px;
  }

  @media (max-width: $vp-mobile) {
    width: 68px;
    height: 15px;
  }
}

.page-header__logo img {
  display: block;
}

.page-header__tel {
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: $color-default-white;

  height: 20px;
  margin-top: 3px;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: $vp-1365) and (min-width: $vp-desktop-only) {
    margin-top: 0;
  }

  @media (max-width: $vp-tablet) {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.02em;
  }

  @media (max-width: $vp-mobile) {
    font-size: 20px;
    line-height: 20px;
  }
}
