.site-logo {
  font-family: "Bebas Neue", "Brush Script MT", cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: $color-default-white;

  @media (max-width: $vp-tablet) {
    font-size: 24px;
    line-height: 24px;
  }

  @media (max-width: $vp-mobile) {
    font-size: 20px;
    line-height: 20px;
  }
}
